services:
  app1:
    build: .
    environment:
      - APP_NAME=app1
  app2:
    build: .
    environment:
      - APP_NAME=app2
  app3:
    build: .
    environment:
      - APP_NAME=app3

  nginx:
    image: nginx:latest
    ports:
      - "8080:8080"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app1
      - app2
      - app3
